.places__title {
    width: 457px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 65px;
    color: #FFFFFF;
    margin: 0 43px 53px 0;
}

@media (min-width : 1024px) and (max-width : 1279px) {
    .places__title {
        width: 440px;
        margin: 0 32px 47px 0;
    }
}

@media (min-width : 768px) and (max-width : 1023px) {
    .places__title {
        font-size: 2.625rem;
        line-height: 46px;
        max-width: 340px;
        margin: 49px 28px 40px 0;
    }
}

@media (max-width : 767px) {
    .places__title {
        font-size: 2rem;
        line-height: 35px;
        margin: 0 16px 0 16px;
    }
}