.footer__link {
    display: inline;
    margin-right: 15px;
}
.footer__link:last-child {
    margin-right: 0px;
}
.footer__link:hover {
    opacity: 0.7;
    transition: 1s ease;
}

@media (max-width : 767px) {
    .footer__link {
        margin-bottom: 14px;
    }
    .footer__link:last-child {
        margin-bottom: 0;
    }
}