.footer__copyright {
    max-width: 282px;
    display: inline-block;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 0 6px 0;
}

@media (min-width : 768px) and (max-width : 1023px) {
    .footer__copyright {
        margin-bottom: 2px;
    }
}

@media (max-width : 767px) {
    .footer__copyright {
        margin-top: 35px;
    }
}