.lead__caption {
    max-width: 636px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10.87px auto 0 0;
}

@media (min-width : 1024px) and (max-width : 1279px) {
    .lead__caption {
        margin-top: 16px;
        margin-left: 0px;
    }
}

@media (min-width : 768px) and (max-width : 1023px) {
    .lead__caption {
        margin-top: 16px;
        margin-left: 24px;
    }
}

@media (max-width : 767px) {
    .lead__caption {
        margin: 8px 16px 0 16px;
    }
}